body {
  background-color: #f3f2f3;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 15px;
  background-color: #1dcc8f;
  color: white;
}

header h2 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header button {
  float: right;
  margin: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6929ca;
  color: white;
  cursor: pointer;
}

#login {
  text-align: center;
  margin-top: 20%;
}

#login button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #1dcc8f;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

#chat {
  width: 80%;
  margin: auto;
  max-width: 600px;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: fit-content;
}

li.sent {
  background-color: #a79cb3;
  margin-left: auto;
}

li.receive {
  background-color: #6929ca;
}

#message-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #b7b5b9;
  padding: 10px;
}

#message-input {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#message-btn {
  width: 25%;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #6929ca;
  color: white;
  cursor: pointer;
}
